$header-bg-color: #373676;
$all-todo-btn-color: #3c4886;
$done-todo-btn-color: #257a2a;
$add-todo-btn-color: #234588;
$important-todo-btn-color: #a12526;
$important-text-color: #b9343a;
$done-text-color: #bab6af;
$inProcess-text-color: #242539;


