@import "./borders";

@mixin main-wrapper-frame(
  $width: 60%,
  $flex-direction: column,
  $margin: 10% auto,
  $box-shadow: 0 0px 5px grey
) {
  width: $width;
  min-height: 50vh;
  height: auto;
  box-shadow: $box-shadow;
  padding: 24px, 0px, 24px, 0px;
  border-radius: $base-border-radius;
  display: flex;
  flex-direction: $flex-direction;
  margin: $margin;
}
